# Google Firebase Configuration for Planly DSA
VITE_FIREBASE_API_KEY=AIzaSyDZmONK25XNstz-5YYxHmQSBAZg-84CXj8
VITE_FIREBASE_AUTH_DOMAIN=planly-dsa.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=planly-dsa
VITE_FIREBASE_STORAGE_BUCKET=planly-dsa.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=547943088305
VITE_FIREBASE_APP_ID=1:547943088305:web:39e33fc5cd250ddeeee290
